@{
    ViewData["Title"] = "Condominios";
}
@Html.Partial("AccesoUsuarios")

<div class="container d-flex justify-content-center">
    @foreach (var item in ViewBag.Condominios)
    {
            <div class="card align-items-center" style="width: 13rem; margin-right:10px">
            <img src="@item.logo" class="card-img-top" style="width:120px; height:120px; margin-top:10px">
            <div class="card-body align-items-center">
                <h4 class="card-title">@item.nombre</h4>
                <p class="card-text">
                    <img src="/Iconos/ubicacion.png" style="width:20px; height:20px" />@item.direccion
                </p>
                <p class="card-text">
                    <img src="/Iconos/Telefono.png" style="width:20px; height:20px" />@item.telefonoOficina
                </p>
                <div style="float:right">
                    <button class="btn btn-warning btn-sm"
                    onclick="window.location='@Url.Action("Editar", "Condominios", new {idProyectoHabitacional=@item.idProyectoHabitacional})'">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm"
                    onclick="window.location= '@Url.Action( "EliminarCondominio", "Condominios",new {idProyectoHabitacional=@item.idProyectoHabitacional})'">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<div class="container d-flex justify-content-center align-items-center">
    <a href="@Url.Action("Agregar", "Condominios")">
        <img src="Iconos\Agregar.png" style="width:50px; height:50px; margin-top:10px" />
    </a>
</div>
