@{
    ViewData["Title"] = "Viviendas";
}

@await Html.PartialAsync("AccesoUsuarios")

<div class="table-responsive">
    <table class="table caption-top table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Vivienda</th>
                <th scope="col">Numero de Habitaciones</th>
                <th scope="col">Cocheras</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.viviendas)
            {
                <tr>
                    <input hidden="hidden" name="idProyectoHabitacional" value="@item.idProyectoHabitacional">
                    @{
                        <th>@item.idVivienda</th>
                        if (String.IsNullOrEmpty(@item.numeroVivienda))
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.numeroVivienda</td>
                        }

                        if (@item.numeroHabitaciones==null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.numeroHabitaciones</td>
                        }

                        if (@item.cochera== null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.cochera</td>
                        }
                        if (@item.idPersona==0)
                        {
                            <td>Disponible</td>
                        }
                        else
                        {
                            <td>Ocupada</td>
                        }

                    }
                    <td class="actions ">
                        <button class="btn btn-warning btn-sm"
                            onclick="window.location='@Url.Action("Editar", "Viviendas", new {idVivienda=@item.idVivienda})'">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm"
                            onclick="window.location= '@Url.Action("EliminarVivienda", "Viviendas", new {idVivienda=@item.idVivienda})'">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>